.search-cntr {    
    width: 1251px;
    height: 270px;
    background: #E6F7FF;
    border-radius: 16px;
}

.search-title {
    padding-top: 60px;
    padding-left: 95px;
    font-size: 38px;
    color: #262626;
}