.profile-search {
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 90px;
    margin-right: 100px;
}

.profile-input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;    
    border-radius: 4px;
    margin-left: 95px;
    margin-top: 10px;
    size: 180;
    width: 600px;
    padding: 12px 20px;    
    box-sizing: border-box;    
}

.search-btn {
    padding-top: 20px;
    padding-left: 95px;
}

.search-result-cntr {
    margin-left: 90px;
    margin-right: 575px;
    background: #F5F5F5;
    border-radius: 16px;
    padding: 24px 30px 25px 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
 }
 
 .search-result-cont-1 {
    display: block;
 }
 
 .search-result-cont-img{
    width: 285px;
    height: 281px;
    display: flex;
    margin: 0px 0px 20px 0px;
 }
 
 .search-result-cont-2 {
    margin-top: 0px;
    margin-left: 33px;
 }
 
 .search-result-cont-info-1 {
    display: flex;
 
 }
 
 .cont-info-1-repo {
    width: 175px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    color: #595959;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
 }
 
 .cont-info-1-followers {
    width: 125px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    color: #595959;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
 }
 
 .cont-info-1-following {
    width: 115px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    color: #595959;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
 }
 
 .search-result-cont-info-2 {
    margin-top: 12px;
    padding: 10px 15px 10px 15px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
 }
 
 .cont-info-2-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1890FF;
    margin-bottom: 18px ;
 }
 .cont-info-2 {
    margin-bottom: 5px;
    padding: 8px 10px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
 }
 
 .cont-info-2-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
 }
 
 .cont-info-2-text {
    margin-left: 8px;
    font-weight: 400;
    color: #737373;
 }