.button-icon {
    width: 101px;
    height: 40px;
    background: #1890FF;
    border-radius: 4px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #1890FF;
    cursor: pointer;       
}