.navbar-div {
    height: 62px;
    left: 0px;
    top: 0px;
    background: #1890FF;
    color: #FFF;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-left: 0;
    margin-right: 0;
}

.navbar-logo-text {
    color: #FFF;
    text-decoration: none;    
}